*{
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: black;
}
.box{
    background-color: aliceblue;
    height: auto;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 10pc;
    border-radius: 1rem;
    padding: 1.4rem;
}

#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#temp-celcius, #hum, #wind{
    font-size: 30px;
    font-weight: 100;

}
#city{
    text-align: center;
}