*{
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: rgba(0, 0, 0, 0.899);
}
.box{
    background-color: aliceblue;
    height: auto;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 10pc;
    border-radius: 1rem;
    padding: 1.4rem;
    box-shadow: 10px 10px 10px 10px transparent;
}

#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#temp, #hum, #wind{
    font-size: 30px;
    font-weight: 100;

}
#city{
    text-align: center;
}

#input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #city{
    height: 2rem;
}
#search{

} */